.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #3B5997;
  height: 50px;
  margin: 0;
  padding: 5px 40px;
  color: #fff;
}

.header .user-info strong {
  font-size: 14px;
  padding-right: 10px;
  float: left;
  position: relative;
  top: 5px;
}

.header .user-info span {
  font-size: 13px;
}
